<div class="container" id="content">
  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/config">Inicio</a></li>
      <li class="breadcrumb-item"><a href="/extensiones">Extensiones</a></li>
      <li class="breadcrumb-item active" aria-current="page">Editar Extensión</li>
    </ol>
  </nav>
  <div class="d-flex justify-content-center align-items-center text-center mb-3">
    <h5 class="mt-1 fw-bold">{{pageTitle}}</h5>
  </div>
  <div class="row justify-content-center fade-in">
    <div class="col-md-5">
      <div class="card shadow">
        <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
          <div class="row align-items-center">
            <div class="col">
              <i class="bi bi-telephone-forward mt-2" style="font-size: 3rem"></i>
            </div>
            <div class="col">
              <div style="font-size: 3rem">
                {{ext}}
              </div>
            </div>
          </div>
          <form action="/api/extensiones/{{ext}}" method="POST" class="w-100"
            enctype="application/x-www-form-urlencoded">
            <hr>
            <div class="container text-center">
              <div class="p-3">
                <!-- Campo ESTADO -->
                <div class="input-group mb-3">
                  <label class="input-group-text label-space-sm" for="activo">ESTADO</label>
                  <select class="form-select" id="estado" name="estado" required>
                    <option value="activo" {{#if (eq estado "activo")}}selected{{/if}}>ACTIVA</option>
                    <option value="inactivo" {{#if (eq estado "inactivo")}}selected{{/if}}>INACTIVA</option>
                  </select>
                </div>
                <!-- Campo NOMBRE -->
                <div class="input-group mb-3">
                  <span class="input-group-text label-space" id="label-nombre">NOMBRE</span>
                  <input type="text" class="form-control" id="nombre" name="nombre" value="{{nombre}}"
                    aria-label="NOMBRE" aria-describedby="label-nombre" required>
                </div>
                <!-- Campo DEPARTAMENTO -->
                <div class="input-group mb-3">
                  <span class="input-group-text label-space" id="label-departamento">DEPTO</span>
                  <input type="text" class="form-control" id="departamento" name="departamento" value="{{departamento}}"
                    aria-label="DEPARTAMENTO" aria-describedby="label-departamento" required>
                </div>
                <!-- Campo POSICIÓN -->
                <div class="input-group mb-3">
                  <span class="input-group-text label-space" id="label-posicion">POSICIÓN</span>
                  <input type="text" class="form-control" id="posicion" name="posicion" value="{{posicion}}"
                    aria-label="POSICION" aria-describedby="label-posicion" required>
                </div>
                <!-- Campo TIPO -->
                <div class="input-group mb-3">
                  <label class="input-group-text label-space3" for="tipo">TIPO TEL</label>
                  <select class="form-select" id="tipo" name="tipo" required>
                    <option value="analogo" {{#if (eq tipo "analogo" )}}selected{{/if}}>ANALOGO</option>
                    <option value="ip" {{#if (eq tipo "ip" )}}selected{{/if}}>IP</option>
                    <option value="softphone" {{#if (eq tipo "softphone" )}}selected{{/if}}>SOFTPHONE</option>
                  </select>
                </div>
                <!-- Campo DEPENDENCIA -->
                <div class="input-group">
                  <label class="input-group-text label-space3" for="dependencia">DEPENDENCIA</label>
                  <select class="form-select" id="dependencia-edit" name="dependencia" required
                    data-current-value="{{dependencia}}">
                    <!-- Las opciones se cargarán dinámicamente mediante JavaScript -->
                  </select>
                </div>
                <!-- Campos ocultos -->
                <input type="hidden" id="propiedad" name="propiedad" value="{{propiedad}}">
              </div>
              <hr>
              <div class="d-flex justify-content-around mb-2">
                <button type="submit" class="btn brandAlter px-4 shadow">Proceder</button>
                <button type="button" class="btn brandAlter2 px-4 shadow"
                  onclick="window.location.href='/extensiones';">Cancelar</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>